<!-- app/views/articles/index.html.erb -->

<center><h3>¡Buenos Dias!</h3></center>

<center><%= link_to "New article", new_article_path %></center>
<table>
  <tr>

    <th colspan="3"></th>
  </tr>
 
<% @articles.each do |article| %>
  <tr>
    <td><center><%= article.title %></center></td>
    <td><%= simple_format article.text %></td>
    <td><%= link_to "Show", article_path(article) %></td>
    <td><%= link_to "Edit", edit_article_path(article) %></td>
    <td><%= link_to "Delete", article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<!-- root_path is the method that takes you to the home page -->

<center><%= link_to "Home", root_path %></center>




