<%= form_for @image_uploader, html: { multipart: true } do |f| %>
  <% if @image_uploader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_uploader.errors.count, "error") %> prohibited this image_uploader from being saved:</h2>

      <ul>
      <% @image_uploader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.file_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
