<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image_uploader.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image_uploader.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image_uploader.image_url %>
</p>

<%= link_to 'Edit', edit_image_uploader_path(@image_uploader) %> |
<%= link_to 'Back', image_uploaders_path %>
