<!-- new user form -->
<!DOCTYPE html>
<html>
<head>
  <title>Blog2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- tells you who is logged in -->

<div id="user_nav">

  <% if current_user %>
    Logged in as <%= current_user.email %>
    
  <br>
    <%= link_to "Log out", log_out_path %>
  </br>

  
  <% else %>
  <center>

    <%= link_to "sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>

  <br>
    <%= link_to "Home", root_path %>
  </br>

  </center>
  <% end %>
</div>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

</body>
</html>
